@charset "UTF-8";

body {
  height: 100vh;
}

body.page-home {
  background-color: #44ace9;
}

body.page-home main {
  color: white;
  text-align: center;
}

.navbar-logo {
  width: 80px;
  height: auto;
}

body.page-login main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.fc-timegrid-slot {
  height: 40px !important;
}

.form-control:invalid {
  border: 1px solid red;
}